In [1]:
import pandas as pd

In [4]:
altura_cm = [178,165,155,181,176,189,190,156]

In [5]:
altura = pd.Series(altura_cm)

In [6]:
datos = {"nombre": ["erika", "elias","miguel", "karla", "gabriela"],
         "edad" : [23,14,30,50,90],
         "altura": [173,180,160,156,170],
         "peso": [82.1,90,70,86,34]}

In [7]:
amigos = pd.DataFrame(datos)

In [8]:
amigos

     nombre  edad  altura  peso
0     erika    23     173  82.1
1     elias    14     180  90.0
2    miguel    30     160  70.0
3     karla    50     156  86.0
4  gabriela    90     170  34.0

In [9]:
amigos.describe

<bound method NDFrame.describe of      nombre  edad  altura  peso
0     erika    23     173  82.1
1     elias    14     180  90.0
2    miguel    30     160  70.0
3     karla    50     156  86.0
4  gabriela    90     170  34.0>

In [10]:
amigos.edad

0    23
1    14
2    30
3    50
4    90
Name: edad, dtype: int64